<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard/main.html(titulo='Usuários')}">
    <head>
      <title>Usuários | Criar</title>
    </head>
    <body>
        <div layout:fragment="content" class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="col-lg-12 panel-grid">
                        <div class="card card-primary card-outline">                            
                            <div class="card-header">
                                <h3 class="card-title float-right">
                                    <span>a</span>
                                </h3>
                            </div>                            
                            <div class="card-body">
                                <form action="#" th:action="@{/dashboard/users/add}" th:object="${user}" method="post">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserFirstname">Nome</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserFirstname" th:field="*{firstname}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserLastname">Sobrenome</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserLastname" th:field="*{lastname}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserUsername">Nome de Usuário</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserUsername" th:field="*{username}"/>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script layout:fragment="local-script">
        $( document ).ready(function() {            

        });
        </script>
    </body>
</html>