<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/dashboard/main.html(titulo='Usuários')}">
    <head>
      <title>Usuários | Editar</title>
    </head>
    <body>
        <div layout:fragment="content" class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="col-lg-12 panel-grid">
                        <div class="card card-primary card-outline">                            
                            <div class="card-header">
                                <div th:if="${errorMessage!=null}">
                                    <div class="alert alert-danger" role="alert"  th:text=${errorMessage}>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body">
                                <form action="#" th:action="@{/dashboard/users/update}" th:object="${user}" method="post">
                                    <input type="hidden"  id="txtUserId" th:field="*{id}"/>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserFirstname">Nome</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserFirstname" th:field="*{firstname}" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserLastname">Sobrenome</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserLastname" th:field="*{lastname}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserUsername">Nome de Usuário</label>
                                                <input type="text" class="form-control form-control-sm" id="txtUserUsername" th:field="*{username}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="slcUserRole">Papel</label>
                                                <select id="slcUserRole" class="form-control form-control-sm"  th:field="*{role}">
                                                    <option value="-1" disabled selected>Selecione...</option>
                                                    <option th:each="securityRole : ${securityRoles}" th:value="${securityRole}" th:text="${securityRole.name()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtUserEmail">Email</label>
                                                <input type="email" class="form-control form-control-sm" id="txtUserEmail" th:field="*{email}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">                                      
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary float-right">Atualizar</button>
                                            <button type="button" class="btn btn-link float-right" onclick="location.href='../list';">Voltar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script layout:fragment="local-script">
        $( document ).ready(function() {            

        });
        </script>
    </body>
</html>