<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>App Name</title>

    <!-- Custom fonts for this theme -->
    <link href="/assets/landing/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/assets/landing/css/freelancer.css" rel="stylesheet">

</head>

<body layout:fragment="content"></body>

<style type="text/css">
    .file-border{
        border: 0.125rem solid #ced4da;
        border-radius: 0.5rem;
        padding: 5px;
    }
</style>
<script type="text/javascript">

</script>

</html>